@import '../../style/variables.module.css';

/* src/styles/header.module.css */

.header {
  background-color: var(--blood-red-color);
  padding: 20px 40px; /* Mais espaço ao redor do cabeçalho */
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinha o conteúdo */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px; /* Aumenta o espaço entre os itens do menu */
}

.navItem {
  text-decoration: none;
  color: white;
  font-family: var(--font-secondary);
  transition: color 0.3s;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  padding: 10px 15px; /* Adiciona espaçamento nos itens do menu */
}

.navItem:hover {
  color: var(--blood-drop-color);
  text-decoration: underline;
}
