/* src/styles/variables.module.css */

:root {
    /* Variáveis de cores existentes */
    --primary-color: #d32f2f; /* Vermelho sangue */
    --secondary-color: #c62828; /* Vermelho mais escuro */
    --background-color: #f5f5f5; /* Fundo claro */
    --background-color-light: #ffffff; /* Fundo do formulário */
    --progress-background: #e0e0e0; /* Fundo da barra de progresso */
    --progress-bar: #d32f2f; /* Cor da barra de progresso */
  
    /* Novas variáveis de cores para o tema de banco de sangue */
    --blood-red-color: #b22222; /* Vermelho sangue */
    --blood-drop-color: #ff4d4d; /* Gota de sangue */
  
    /* Variáveis de fontes */
    --font-primary: 'Arial', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
  
    /* Variáveis de elementos gráficos */
    --icon-size-small: 16px;
    --icon-size-large: 32px;
  }
  