@import '../../style/variables.module.css';

/* src/styles/Footer.module.css */

.footer {
  background-color: var(--footer-background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  font-family: var(--font-primary);
  border-top: 3px solid var(--blood-red-color);
  margin-top: 10px;
}

.footerLink {
  margin: 0 10px;
  color: var(--blood-red-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footerLink:hover {
  color: var(--blood-drop-color);
}
