@import '../../../style/variables.module.css';

.infoSection {
  padding: 20px;
  background-color: var(--footer-background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  border-top: 2px solid var(--blood-red-color);
  border-bottom: 2px solid var(--blood-drop-color);
  text-align: center;
}

.infoList {
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.infoList li {
  margin: 10px 0;
}

.infoList a {
  color: var(--blood-red-color);
  text-decoration: none;
  font-family: var(--font-secondary);
  transition: color 0.3s;
}

.infoList a:hover {
  color: var(--blood-drop-color);
  text-decoration: underline;
}

  